{{> head}}
{{> navbar}}
<main class="h-overflow tags">
   <div class="page section section--1">
      <div class="wrapper page__header">
         <h1>
            {{ translate 'tags.tagsPageTitle' }}
            {{#if @config.custom.pageListingPostNumber}}{{/if}}
         </h1>
         <p>{{ translate "tags.description" tagsNumber }}</p>
      </div>
   </div>
   <div class="section">
      <div class="wrapper">
         <ul class="l-listing 
            {{#checkIf @config.custom.pagelatestLayout '==' "grid" }}
               l-grid l-grid--{{@config.custom.pagelatestColumns}}
            {{else}}
               l-masonry l-masonry--{{@config.custom.pagelatestColumns}}
            {{/checkIf}}">
            {{#each tags}}
               <li class="c-card">
                  {{#featuredImage}}
                     {{#if url}}
                        <a href="{{../url}}" class="c-card__image">
                           <img
                              src="{{url}}"
                              {{#if @config.site.responsiveImages}}                           
                                 {{responsiveImageAttributes 'tagImage' srcset sizes}}
                              {{/if}}
                              {{ lazyload "lazy" }}
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}"> 
                        </a>
                     {{/if}}
                  {{/featuredImage}}
                  <div class="c-card__body">
                     <div class="c-card__meta">
                        {{postsNumber}} {{ translate "tags.post" (math postsNumber '+' 0)}}
                     </div>
                  
                     <h3 class="h6 c-card__title">
                        <a href="{{url}}">{{name}}</a>
                     </h3>              
                  </div>
               </li>
            {{/each}}
         </ul>      
      </div>
   </div>
</main>
{{> newsletter}}
{{> footer}}
