{{#if @pagination}}
   {{#checkIf @config.custom.paginationLayout '==' "numbered" }}
       <nav class="pagination pagination--numbered {{#checkIf @config.custom.paginationLayoutAlign '==' "center" }}pagination--centered{{/checkIf}}">
         <ul>
            {{#if @pagination.previousPage}}
               <li>
                  <a href="{{@pagination.previousPageUrl}}">{{ translate 'partials.pagination.prev' }}</a>
               </li>
            {{/if}}
            {{#each @pagination.pages}}
               <li>
                  {{#isCurrentPage @pagination.currentPage this}}
                     <strong>
                        {{this}}
                     </strong>
                  {{else}}
                     <a href="{{pageUrl @pagination.context this}}">
                        {{this}}
                     </a>
                  {{/isCurrentPage}}
               </li>
            {{/each}}
            {{#if @pagination.nextPage}}
               <li>
                  <a href="{{@pagination.nextPageUrl}}">{{ translate 'partials.pagination.next' }}</a>
               </li>
            {{/if}}
         </ul>
      </nav>
   {{else}}
     <nav class="pagination {{#checkIf @config.custom.paginationLayoutAlign '==' "center" }}pagination--centered{{/checkIf}} {{@website.postsOrdering}}">
         {{#checkIf @website.postsOrdering '==' "desc"}}
            {{#if @pagination.nextPage}}
               <a href="{{@pagination.nextPageUrl}}" class="btn">
                  {{#checkIf @website.postsOrdering '==' "desc"}}
                     {{ translate 'partials.pagination.prev' }}
                  {{else}}
                     {{ translate 'partials.pagination.next' }}
                  {{/checkIf}}
               </a>
            {{/if}}
            {{#if @pagination.previousPage}}
               <a href="{{@pagination.previousPageUrl}}" class="btn">
                  {{#checkIf @website.postsOrdering '==' "desc"}}
                     {{ translate 'partials.pagination.next' }}
                  {{else}}
                     {{ translate 'partials.pagination.prev' }}
                  {{/checkIf}}
               </a>
            {{/if}}
         {{else}}
            {{#if @pagination.previousPage}}
               <a href="{{@pagination.previousPageUrl}}" class="btn">
                  {{#checkIf @website.postsOrdering '==' "desc"}}
                     {{ translate 'partials.pagination.next' }}
                  {{else}}
                     {{ translate 'partials.pagination.prev' }}
                  {{/checkIf}}
               </a>
            {{/if}}
            {{#if @pagination.nextPage}}
               <a href="{{@pagination.nextPageUrl}}" class="btn">
                  {{#checkIf @website.postsOrdering '==' "desc"}}
                     {{ translate 'partials.pagination.prev' }}
                  {{else}}
                     {{ translate 'partials.pagination.next' }}
                  {{/checkIf}}
               </a>
            {{/if}}
         {{/checkIf}}
      </nav>
   {{/checkIf}}
{{/if}}
